<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h6 " >E-wallet!</span>
  </nav>
<div class="container">
    <div class="jumbotron" style= "margin-top: 40px;">
        <div class="card text-center">
            <div class="card-header">
              E-Wallet
            </div>
            <div class="card-body">
              <h5 class="card-title">Welocome In The World Of Payments!</h5>
              <p class="card-text">It's A Digital Wallet,Say Bye To The Cash Money!</p>
      
              <button type="button" class="btn btn-outline-primary" (click)="newUser()">New User</button>&nbsp;&nbsp;
              <button type="button" class="btn btn-outline-secondary" (click)="userLogin()" >User Login</button>
             
                      
            </div>
            <div class="card-footer text-muted">
              Thanks For Being Here!
            </div>
          </div>      
        
    </div>
    
